.image {
    max-width: fit-content;
    max-height: 600px;
    margin-left: 200px;
    box-shadow: 0 5px 50px 0 rgba(165, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 40px;
    z-index: 0;
}

.background_image {
    margin-top: -100px;
    background-color: #f68989;
    padding-bottom: 250px;
    padding-top: 150px;
}

.home_title {
    text-align: left;
    margin-left: 190px;
    margin-top: -600px;
    margin-bottom: 150px;
    font-size: 74px;
    z-index: 1;
}

