.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
position: absolute;
top: 0;
left: 0;
}

.image_our_story {
    max-width: fit-content;
    max-height: 300px;
    margin-left: 0px;
    box-shadow: 10 5px 50px 0 rgba(165, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 200px;
    z-index: 0;
}

#title_our_story {
    color: white;
    margin-top: 0px;
}

#our_story_content {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}